body {
    background: linear-gradient(to right, #69bde7, #6DD5FA, #1f5079);
    font-family: 'Poppins', sans-serif;

}

div{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    
}

table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

a{
    color: rgb(2, 2, 2);
}

