*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #eee;
    height: 100%;
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #fff;
    justify-content: space-between;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 3px 4px rgb(0, 0, 0);
    z-index: 1000;
}

.logo{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.logo img{
    height: 80px;
    padding-left: 30px;
}
.logo>p{
    margin-top: 30px;
    margin-left: 30px;
}

ul{
    list-style-type: none;
    display: flex;
    margin-right: 200px;
    text-align: center;
}

li{
    padding-right: 30px;
    margin-top: 30px;
    
}

a{
    text-decoration: none;
}

ul a{
    color: black;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
}

ul a:hover{
    background-color: #ccc;
    
}

ul li:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.contenido{
    position: relative;
    top: 150px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.nombre{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

.equipo{
    width: 100%;
    padding: 10px;
}

.equipo th, .equipo td{
    width: 50%;
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);

}

.cursos{
    width: 100%;
    padding: 10px;
}

.cursos th, .cursos td{
    width: 25%;
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
}

footer{
    position: relative;
    margin-top: 150px;
}

.contacto{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    color: white;
    text-align: center;
    align-items: center;
    
}

.ayuda{
    font-size: 36px;
    font-weight: 600;
}

.telefono{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 20px;
}

.texto-contacto{
    padding: 20px;
}

.form-content{
    padding-left: 250px;
}

.formulario{
    background-color: white;
    width: max-content ;
    left: 40px;
    border-radius: 4px;
}

.formulario:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    transition: 0.3s;
}

.contacto a{
    color: blueviolet;
    font-size: 18px;
}

.logos-footer{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(0, 0, 0);
    height: 100px;
    align-items: center;
    border-bottom: solid 2px white;
}

.social img{
    width: 36px;
    height: 36px;
    background-color: #fff;
}

#facebook{
    background-color: black;
}

.organizaciones>img{
    height: 50px;
}

.copyright{
    display: flex;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 0px 100px;
}

.copyright>p{
    padding: 0px 10px;
}